@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes huelive {
    from {
        background: #232323;
    }
    to {
        background: #ea2429;
    }
}

@keyframes hueoff {
    from {
        background: #ea2429;
    }
    to {
        background: #232323;
    }
}

.live-indicator-block {
    display: flex;
    position: relative;
    margin: 10px auto;
    justify-content: center;
}

.live-indicator {
    display: flex;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    animation: hueoff 0.5s ease forwards;
    background: #232323; /* Red live color */
    color: #fff; /* White color */
    padding: 6px 7px;
    border-radius: 6px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.live-indicator .live {
    background: #ea2429; /* Red live color */
}

.blink {
    animation: blinker 1s cubic-bezier(0.8, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
