.staff-board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or use space-around, or space-evenly */
  gap: 20px; /* Adjust the gap between the cards as needed */
}

.h1 {
  margin: 1, 0, 0;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 400px;
  margin: auto;
  text-align: center;
  background: rgba(101, 171, 217, 0.28);
  backdrop-filter: blur(25px);
  background-position: bottom;
  background-size: auto 60%;
  background-repeat: repeat-x;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./asset/triangles.svg");
  background-position: bottom;
  background-size: auto 60%;
  background-repeat: repeat-x;
  opacity: 0.4; /* Adjust the opacity as needed */
  z-index: -1;
}

.card-title {
  /*color: grey;*/
  font-size: 18px;
  margin-top: -12px;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.acard {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card-button:hover,
.acard:hover {
  opacity: 0.7;
}
